.total td {
    border: solid 1px #00000000;
    border-top: 0px;
    border-bottom: 0px;
    border-style: solid none;
}

.total td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.total td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}